.navbar {
    background-color: rgb(245, 245, 245);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

body {
    background-color: rgb(4, 74, 144);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: whitesmoke;
    text-align: center;
}

section {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.366);
}

h1 {
    text-align: center;
}

#section_content {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 200px;
}

footer {
    color: whitesmoke;
    text-align: center;
    font-style: italic;
}