{% extends "layout.html" %}

{% block main %}
    <h1 class="body_txt">Painel de Administração</h1>

    <section>
        <h2>Usuários</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome de usuário</th>
                    <th>Senha</th>
                    <th>Cargo</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user[0] }}</td>
                    <td>{{ user[1] }}</td>
                    <td>{{ user[2] }}</td>
                    <td>{{ 'Administrador' if user[3] == 1 else 'Usuário' }}</td>
                    <td>
                        <a href="/user/{{ user[0] }}">Editar</a> |
                        <a href="/user/{{ user[0] }}/delete" onclick="return confirm('Are you sure?');">Apagar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <section>
        <h2>Carteiras</h2>
        <table>
            <thead>
                <tr>
                    <th>ID do usuário</th>
                    <th>Ação</th>
                    <th>Quantidade</th>
                    <th>Preço Médio</th>
                    <th>Custo Total</th>
                </tr>
            </thead>
            <tbody>
                {% for wallet in wallets %}
                <tr>
                    <td>{{ wallet[0] }}</td>
                    <td>{{ wallet[1] }}</td>
                    <td>{{ wallet[2] }}</td>
                    <td>{{ wallet[3] }}</td>
                    <td>{{ wallet[4] }}</td>
                    <td>
                        <a href="/stock/{{ wallet[0] }}/{{ wallet[1] }}">Editar</a> |
                        <a href="/stock/{{ wallet[0] }}/{{ wallet[1] }}/delete" onclick="return confirm('Are you sure?');">Apagar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <section>
        <h2>Histórico</h2>
        <table>
            <thead>
                <tr>
                    <th>ID do usuário</th>
                    <th>ID</th>
                    <th>Tipo</th>
                    <th>Ativo</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                <tr>
                    <td>{{ record[0] }}</td>
                    <td>{{ record[1] }}</td>
                    <td>{{ record[2] }}</td>
                    <td>{{ record[3] }}</td>
                    <td>{{ record[4] }}</td>
                    <td>{{ record[5] }}</td>
                    <td>
                        <a href="/records/{{ record[1] }}/delete" onclick="return confirm('Are you sure?');">Apagar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
