{% extends "layout.html" %}

{% block main %}
    <h1 class="body_txt">Stock Market</h1>
    <h1 class="body_txt">Bem vindo a área de compra!</h1>
    <section id="section_content">
        {% if not price %}
            <form action="/buy" method="post">
                <label for="stock">Ativo:</label>
                <input type="text" name="stock" id="stock" placeholder="Ativo">
                <input id="form_submit" type="submit" value="Confirmar">
            </form>
        {% else %}
            <form action="/buy/{{ symbol }}/{{ price }}" method="post">
                <label for="qtd">Quantidade:</label>
                {% if symbol[length - 1].upper() == "F" %}
                    <input type="number" name="qtd" id="qtd">
                {% else %}
                    <input type="number" name="qtd" id="qtd" step="100">
                {% endif %}
                <p>Preço atual: {{ brl(price) }} </p>
                <input id="form_submit" type="submit" value="Comprar">
            </form>
            <form action="/buy">
                <input id="form_submit" type="submit" value="Cancelar">
            </form>
        {% endif %}
    </section>
    <footer>
        <p>&copy;StockMarket</p>
    </footer>
{% endblock %}