<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title> {% block title %} Stock Market {% endblock%}</title>
</head>

<body>
    <nav class="navbar">
        <a href="/" class="navbar-brand">Stock Market</a>
        <ul>
            {% if session['user_id'] %}
                <li><a href="/">Home</a></li>
                <li><a href="/user/{{ session['user_id'] }}">Profile</a></li>
                <li><a href="/buy">Buy</a></li>
                <li><a href="/sell">Sell</a></li>
                <li><a href="/records">History</a></li>
                <li><a href="/logout">Logout</a></li>
            {% else %}
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
    </nav>

    {% block main %}
    {% endblock %}
</body>

</html>