{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}        
    <section>
        <h1>Login</h1>
        <form id="section_content" action="/login" method="post" >
                <label for="username">Usuario:</label>
                <input type="text" name="username" id="username" placeholder="Usuario" width="50px">
                <label for="pwd">Senha:</label>
                <input type="password" name="pwd" id="pwd" placeholder="Senha">
                <input type="submit" value="Entrar">
        </form>
    </section>
    <footer>
        <p>&copy;StockMarket</p>
    </footer>
{% endblock %}