{% extends "layout.html" %}

{% block main %}

<h1 class="body_txt">Stock Market</h1>

  <section>
    <p>Bem vindo ao histórico de ordens!</p>

    {% if history %}
      <table>
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Ação</th>
                <th>Quantidade</th>
                <th>Preço Médio</th>
            </tr>
        </thead>
        <tbody>
          {% for stock in history %}
            <tr>
                <td>{{ stock[2] }}</td>
                <td>{{ stock[3] }}</td>
                <td>{{ stock[4] }}</td>
                <td>{{ stock[5] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </section>
  <footer>
    <p>&copy;StockMarket</p>
</footer>

{% endblock %}