{% extends "layout.html" %}

{% block main %}        
    </header>
    <section>
        <h1>Cadastro</h1>
        {% if adm %}
            <form id="section_content" action="/admin/register" method="post" >
                    <label for="username">Usuario:</label>
                    <input type="text" name="username" id="username" placeholder="Usuario" width="50px" required>
                    <label for="pwd">Senha:</label>
                    <input type="password" name="pwd" id="pwd" placeholder="Senha" required>
                    <input type="submit" value="Submit">
            </form>
        {% else %}
            <form id="section_content" action="/register" method="post" >
                    <label for="username">Usuario:</label>
                    <input type="text" name="username" id="username" placeholder="Usuario" width="50px" required>
                    <label for="pwd">Senha:</label>
                    <input type="password" name="pwd" id="pwd" placeholder="Senha" required>
                    <input id="form_submit" type="submit" value="Cadastrar">
            </form>
        {% endif%}
    </section>
    <footer>
        <p>&copy;StockMarket</p>
    </footer>
{% endblock %}